.btn--action {
  padding: 6px 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: none;
  cursor: pointer;
  border-radius: 500px;
  color: white;

  transition: 0.5s;
  background: linear-gradient(
      100.62deg,
      var(--c1, #773ef0),
      var(--c2, #0297fb) 51%,
      var(--c1, #0070eb)
    )
    var(--x, 0) / 200%;
  &:hover {
    --x: 100%;
  }
}

.btn--disabled {
  padding: 6px 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: not-allowed;
  border-radius: 500px;
  color: white;
  background-color: transparent;
  border: 1px solid gray;
  opacity: 0.5;
}
