@import '@/app/styles/variables.scss';

.container--form {
  padding: 0px 8px;
}

.form--bridge {
  background-color: #1c1c1c;
  padding: 18px;
  border-radius: 12px;
  @media (min-width: $sm) {
    padding: 18px 24px;
  }
}

.row--title {
  margin-bottom: 12px;
}

.box--input-field {
  margin-bottom: 16px;
  display: grid;
  row-gap: 12px;
  padding: 9px 15px;
  border-radius: 6px;
  height: 88px;
  background: #2b2b2b;
  @media (min-width: $sm) {
    width: 412px;
  }
}

.box__space-between {
  display: flex;
  justify-content: space-between;
}

.text--to--balance {
  font-weight: 400;
  font-size: 12px;
  color: #5f656f;
}

.box__row {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.text--chain {
  font-weight: 700;
  font-size: 16px;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.btn--reverse {
  margin-bottom: 16px;
  padding: 4px;
  background-color: transparent;
  color: white;
  border: 1px solid #9da3ae;
  border-radius: 100%;
  cursor: pointer;
}

.row--reverse-btn {
  display: flex;
  justify-content: center;
}

.text--title {
  font-weight: 700;
  font-size: 24px;
}

.box__available {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.box__column--input-amount {
  justify-self: flex-end;
  width: 100%;
  display: grid;
}

.input--amount {
  width: 180px;
  font-size: 22px;
  outline: none;
  background: transparent;
  text-align: right;
  font-weight: 600;
  justify-self: flex-end;
  @media (min-width: $md) {
    width: 250px;
  }
}

.row--buttons {
  display: grid;
  row-gap: 16px;
  @media (min-width: $sm) {
    grid-template-columns: 48% 48%;
    justify-content: space-between;
    row-gap: 0px;
  }
}

.button--confirm {
  font-size: 16px !important;
  font-weight: 600;
  height: 44px;
  width: 100%;
}
